html * {
  /*background: transparent;*/
  font-family: Helvetica, sans-serif;
}

body {
  /*background: #444444;*/
  background-image: url('http://wallpoper.com/images/00/40/76/10/outer-space_00407610.jpg');
	background-size: cover;
  width: 150%;
	height: 200vh;
  background-attachment: fixed;
  text-align: center;
}

a {
  text-decoration: none;
  color: #dad;
}

a:hover {
  text-decoration:underline;
  color: #aaa;
}

header h1 {
	background-color: #ee1111;
  font-family:Helvetica, sans-serif;
  text-align: center;
  /*position: fixed;*/
	padding: 20px;
	font-size: 5em;
	margin: 0 auto 0 auto;
	mix-blend-mode: screen;
	top: 60px;
}

nav ul li {
  display: inline;
  margin: 0 auto 0 auto;
  padding: 4px 30px 0 30px;
  border: 1px solid #ff1122;
  border-radius: 4px;
  font-family:Helvetica, sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav ul li a {
  text-decoration: none;
  color: #eee;
}

main {
  text-align: center;
}

main h2, p {
  width: 650px;
  margin: 10px auto 40px auto;
  font-family:Helvetica, sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer ul {
  text-align: center;
  font-family:Helvetica, sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


footer ul li{
  display: inline;
  margin: 0 auto 0 auto;
  padding: 5px 25px 0 25px;
  border: 3px solid #ff1122;
  border-radius: 4px;
  font-family:Helvetica, sans-serif;
}
